<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Set the title dynamically-->
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <!--Shared Nav Bar-->
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a> |
        <a asp-controller="Home" asp-action="Podcasts">My Podcasts</a> |
        <a asp-controller="Home" asp-action="MovieEntry">Enter a Movie to the Database</a> |
        <a asp-controller="Home" asp-action="MovieList">View All Movies</a>
    </nav>
    <!--Render the body here-->
    <div class="container">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--This came with it and I'm scared to remove it. lol-->
    @RenderSection("Scripts", required: false)
</body>
</html>
